<h3>Accounts</h3>

<table>
  <tr>
    <th>Account Number</th>
    <th>Member Id</th>
    <th>Account Type</th>
    <th>Current Balance</th>
    <th>Open Date</th>
    <th>Account Status</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let aAccount of accounts">
    <td>{{aAccount.AccountNumber}}</td>
    <td>{{aAccount.MemberId}}</td>
    <td>{{aAccount.AccountType.AccountType1}}</td>
    <td>{{aAccount.CurrentBalance | currency}}</td>
    <td>{{aAccount.OpenDate | date}}</td>
    <td>{{aAccount.AccountStatusCode}}</td>
    <td>
      <a [routerLink]="['/Transactions', aAccount.AccountNumber]">Transactions</a>
    </td>
  </tr>
</table>

<h3>Add Account</h3>
<div>
  Account Number:<br> <input type="number" [(ngModel)]="accountToAdd.AccountNumber"/><br>
  <!-- Member Id: <input type="number" [(ngModel)]="accountToAdd.MemberId"/><br> -->
  Account Type:<br> <input type="number" [(ngModel)]="accountToAdd.AccountTypeId"/><br>
  <!-- Open Date: <input type="date" [(ngModel)]="accountToAdd.OpenDate"/><br> -->
  <input type="button" value="Add Account" (click)="addAccount()" />
</div>

